.main-content-customers {
    margin: 10px; 
    padding: 20px;
    /* background-color: #000; */
    border-radius: 25px;
    display: flex;
    /* align-items: stretch; */
}


h3, h6, p {
    color: white;
}


  .profile-picture1 img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
   float: right;

  }
  .row {
    margin-left: 0;
    margin-right: 0;
}
  .col-customers{
    border-radius: 25px;
    padding: 10px;
    background-color: #131B23;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 1px 3px rgba(0, 0, 0, 0.08);

}



.l {
    color: white;
    font-weight: bold;
}

.p {
    font-size: large;
}

@media (min-width: 852px) {
    .col1 {
        flex: 1 1 48%; /* adjust to 48% to fit two columns with some margin */
        max-width: 48%;
    }
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.icon{
    margin: 2px;
}

