.main-content2 {
    margin: 10px; 
    padding: 20px;
    background-color: #000;
    border-radius: 25px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: stretch; */
    justify-content: space-between;
}

h3, h6, p {
    color: white;
}

.col1 {
    border-radius: 25px;
    padding: 10px;
    margin: 2px;
    background-color: #131B23;
    flex: 1 1 100%; /* Ensures columns take up full width by default */
    max-width: 100%; /* Ensures columns don’t exceed 100% width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Ensure content is stacked vertically */
    justify-content: space-around
}

.l {
    color: white;
    font-weight: bold;
}

.p {
    font-size: large;
}

@media (min-width: 852px) {
    .col1 {
        flex: 1 1 30%; /* Adjust to 30% to fit three columns with some margin */
        max-width: 30%;
    }
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container > .d-flex {
    margin-bottom: 10px;
}
