.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width: 100vh; */
    background-color: #f0f0f0;
  }
  
  .profile-container {
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    /* width: 800px; */
    /* height: 50 */
  }
  
  .profile-details {
    padding: 40px;
    flex: 1;
  }
  
  .profile-details h1 {
    margin-bottom: 30px;
  }
  
  .profile-details label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .profile-details input {
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .profile-details input[disabled] {
    background-color: #e9e9e9;
  }
  
  .change-password {
    display: flex;
    align-items: center;
  }
  
  .change-password button {
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .profile-picture {
    position: relative;
    width: 300px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .upload-button {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-button input[type="file"] {
    display: none;
  }
  